logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.cache
bin/
.tmpBin/
.metadata/
newFile0.csv
newFile1.csv
newFile2.csv
newFile3.csv
newFile4.csv
newFile5.csv

